<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seantone.xsdk.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        tools:replace="android:allowBackup"
        android:theme="@style/Theme.Xsdk">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--google SDK-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="您的admob appid" />
    </application>

</manifest>